%html
  %head
    = javascript_include_tag 'lib/jquery'
    = javascript_include_tag 'underscore'
    = javascript_include_tag 'movies'
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    %title Movies
  %body= yield :layout
